<%- include("partials/header.ejs") %>
<div class="container">
  <h2>New Blog</h2>
  <% if (locals.errorMessage) { %>
    <div class="alert alert-danger" role="alert">
      <%= errorMessage %>
    </div>
  <% } %>
  <form action="/writeBlog" method="POST">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="blogTitle">Title</label>
        <input type="text" class="form-control" id="blogTitle" name="blogTitle" placeholder="Blog title" required value="<%= blogTitle %>">
      </div>
    </div>
    <div class="form-group">
      <label for="blogEntry">Blog Entry</label>
      <textarea class="form-control" id="blogEntry" name="blogEntry" rows="5" style="resize: vertical;" placeholder="Blog entry" required><%= blogEntry %></textarea>
    </div>
    <div class="button blogButtons">
      <a class="btn btn-secondary" href="/" role ="button">Cancel</a>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>


<%- include("partials/footer.ejs") %>